p.tabcontent--description.
  Если вы ищете пассивный доход и предпочитаете, чтобы деньги для вас зарабатывал тот, кто умеет это делать, тогда попробуйте ЛАММ. ЛАММ – это сервис копирования сделок успешных трейдеров. Доходность ни чем не ограничена! 
section.tabcontent--n-list-section
  .tabcontent--n-list-section__title Как это работает 3
  - 
    var values = [
      'Вы выбираете управляющего из рейтинга по фильтру Options',
      'Подключаете свой счет к счету Управляющего',
      'На вашем счете начинается копирование сделок',
      'Обратите внимание, что вы не перечисляете свои деньги Управляющему. Все ваши средства остаются на Вашем счете.',
      'Вы можете подключиться к нескольким Управляющим одновременно.',
      'Вы можете отключиться от Управляющих в любой момент.'
    ];
  ol.tabcontent--n-list-section__list
    each val in values
      li.tabcontent--n-list-section__list-item= val
  button.tabcontent--btn Продолжить